<footer class="p-3 text-bg-dark shadow-lg footer"> 
    <div class="container-fluid row">

        <div class="col-md-4 col-sm-12 col-12 d-flex align-items-center mob-txt">
            <!-- <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <svg class="bi" width="30" height="24">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a> -->
            <span class="mb-3 mb-md-0 text-white">© 2024 Hasher MarketPlace</span>
        </div>

        <!-- <ul class="nav col-md-8 col-sm-12 col-12 justify-content-end list-unstyled d-flex text-decoration-none mob_ul">
            <li class="ms-3"><a class="text-white text-decoration-none" href="#"><svg class="bi" width="24" height="24">
                        <use xlink:href="#twitter"></use>
                    </svg>Twitter</a></li>
            <li class="ms-3"><a class="text-white text-decoration-none" href="#"><svg class="bi" width="24" height="24">
                        <use xlink:href="#instagram"></use>
                    </svg>Instagram</a></li>
            <li class="ms-3"><a class="text-white text-decoration-none" href="#"><svg class="bi" width="24" height="24">
                        <use xlink:href="#facebook"></use>
                    </svg>facebook</a></li>
        </ul> -->

    </div>
</footer>